/* Custom CSS ---------------*/

/* Global Styling ---------------*/
* { 
  box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
    margin: auto;
}

/* Clearfix ---------------*/
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

/* General ---------------*/
body {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
	color: #7f7f7f;
	background-color: #dadada;
	font-weight: 400;
}

/* Typography ---------*/
h1, h2, h3, h4, h5, h6 {
	color: #4a4a4a;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin-bottom: 30px; 
}

section#portfolio h2,
section#portfolio h3,
section#portfolio p {
	text-align: center;
}

section#portfolio h3,
section#portfolio p,
section#portfolio img {
	padding-bottom: 30px;
}

section#portfolio h3,
section#portfolio p {
	padding-left: 15%;
	padding-right: 15%;
}

section#portfolio h3 {
	font-size: 1.5rem;
	font-weight: 700;
}

/* Header ---------------*/
header #logo,
header nav {
	text-align: center;
}

/* Navigation ---------------*/
nav#main-nav ul {
	padding: 0;
	margin: 0;
}
nav#main-nav ul li {
	list-style: none;
	margin-bottom: 5px;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #4a4a4a;
	padding: 10px 15px;
	background-color: #fff;
	display: block; 
}

/* Layouts ---------*/
.main-wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 6% 15px;
}

section {
	padding-top: 6%;
	padding-bottom: 6%;
}

/* Columns ---------*/
.col_6,
.col_4 {
		padding-left: 1%;
    	padding-right: 1%;
	}

/* Sections ---------*/
section#portfolio {
	background-color: #fff;
    padding: 20px 10px;
}








/* Media Queries ---------*/
@media screen and (min-width: 1024px) {
	/* Navigation ---------------*/
	#logo {
		float: left;
	}
	nav#main-nav {
		float: right;
	}

	nav#main-nav ul li {
		display: inline-block;
	}

	nav a {
		padding: 10px 15px;
		background-color: transparent;
	}

	/* Columns ---------------*/
	.col_6 {
		width: 50%;
		float: left;
	}

	.col_4 {
		width: 33.333333%;
		float: left;
	}
}